body {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400 !important;
    font-style: normal !important;
}
.fs-10 {
    font-size: 10px !important;
}
.fs-11 {
    font-size: 11px !important;
}
.fs-12 {
    font-size: 12px !important;
}
.fs-13 {
    font-size: 13px !important;
}
.fs-14 {
    font-size: 14px !important;
}
.fs-15 {
    font-size: 15px !important;
}
.fs-16 {
    font-size: 16px !important;
}
.fs-17 {
    font-size: 17px !important;
}
.fs-18 {
    font-size: 18px !important;
}
.fs-19 {
    font-size: 19px !important;
}
.fs-20 {
    font-size: 20px !important;
}
.dropdown-toggle::after {
    display: none !important;
}
.input {
    width: 55px;
    border: none;
    border: 1px solid #C9C9C9C9;
    margin-right: 10px;
    text-align: center;
    font-size: 36px;
    cursor: not-allowed;
    pointer-events: none;
}

.input:focus {
    border-bottom: 3px solid #d81f45;
    outline: none;
}

.input:nth-child(1) {
    cursor: pointer;
    pointer-events: all;
}
.login-bg {
    background-image: url("../images/login-bg.jpg");
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-size: cover;
}
.btn-rounded {
    border-radius: 50%;
}
a.navbar-brand h2 {
    font-weight: 800;
    font-size: 40px;
}
.invalid-feedback {
    display: block !important;
}
.location-search {
    width: 448px;
    position: relative;
}
.find-me {
    position: absolute;
    top: 30px;
    left: 600px;
}
.hidden {
    visibility: hidden;
}
.social-list-item {
    height: 2rem;
    width: 2rem;
    line-height: calc(2rem - 2px);
    display: block;
    border: 2px solid #adb5bd;
    border-radius: 50%;
    color: #adb5bd;
}
.search-bg {
    background-image: linear-gradient(135.46deg, #d11450, #df293a);
    height: 256px;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.search {
    width: 75%;
    background-color: #fff;
    padding: 4px;
    border-radius: 5px;
    margin: 1em auto;
}
.cms-map {
    width: 100%;
    background-color: #f3f5f7;
    padding: 4px;
    height: 494px;
    border-radius: 5px;
    margin: 1em 0 0 0;
}
.continue-search-div {
    width: 75%;
    background-color: transparent;
    padding: 4px;
    border-radius: 5px;
    margin: 1em auto;
}
.login-button {
    width: 248px;
    padding: 9px 0;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.4px;
    cursor: pointer;
    margin-top: 12px;
}
.search-1 {
    position: relative;
    width: 100%;
}
.branding-text-left {
    font-size: 22px !important;
}
.join-network-text-right {
    font-size: 22px !important;
}
.search-1 input {
    height: 50px;
    border: none;
    width: 100%;
    padding-left: 34px;
    padding-right: 10px;
    border-right: 2px solid #eee;
}

.search-1 input:focus {
    border-color: none;
    box-shadow: none;
    outline: none;
}

.search-1 button {
    position: absolute;
    top: 14px;
    left: 350px;
    color: #4b4b4b;
}

::placeholder {
    color: #eee;
    opacity: 1;
}

.search-2 {
    position: relative;
    width: 100%;
}

.search-2 input {
    height: 50px;
    border: none;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    border-right: 2px solid #eee;
}

.search-2 input:focus {
    border-color: none;
    box-shadow: none;
    outline: none;
}

.search-2 i {
    position: absolute;
    top: 12px;
    left: -10px;
    font-size: 24px;
    color: #eee;
}
.search-3 {
    position: relative;
    width: 100%;
    margin-top: 13px;
    margin-bottom: 13px;
}
.search-4 {
    position: relative;
    width: 100%;
}
.search-4 > button {
    position: absolute;
    border: none;
    height: 50px;
    background-color: #1ab64f !important;
    color: #fff;
    width: 100%;
    border-radius: 4px;
}
.search-3 > a {
    height: 50px;
    border: none;
    padding-left: 0px;
    padding-right: 0px;
}
.text-placeholder {
    color: #4b4b4b;
}

::placeholder {
    color: #4b4b4b;
    opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: #4b4b4b;
}
.daterangepicker:before,
.daterangepicker:after {
    display: none !important;
}
.daterangepicker th.month {
    width: auto !important;
    font-size: 20px !important;
    color: #d81f45 !important;
}
.btn-danger {
    background-color: #d81f45 !important;
}
.bg-danger {
    background-color: #d81f45 !important;
    color: #fff !important;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #d81f45 !important;
    border-color: transparent !important;
    color: #fff !important;
}
.bg-transparent {
    background-color: transparent !important;
}
.branding-left {
    text-align: start !important;
}
.join-network-right {
    text-align: end !important;
}
.login-content-card {
    width: 92%;
    color: #fff;
    z-index: 1;
    padding: 86px 8px 0 110px !important;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: fit-content;
}
.login-content-heading {
    font-size: 48px !important;
}
.login-page-logo {
    display: flex;
}
a.navbar-brand .login-page-logo h6 {
    margin-left: 1rem !important;
}
p.no-span {
    display: table;
    white-space: nowrap;
}
p.no-span:before {
    border-top: 1px solid #c9c9c9;
    content: "";
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 0%;
    right: 1.5%;
}
p.no-span:after {
    border-top: 1px solid #c9c9c9;
    content: "";
    display: table-cell;
    position: relative;
    top: 0.7em;
    width: 82.2%;
    left: 1.5%;
}
.text-grey {
    color: #a6a6a6 !important;
}
.sign-in-travel-agent {
    padding-right: 14px !important;
}
.sign-in-corporate {
    padding-left: 30px !important;
}
.login-other-options > li:last-child {
    border-left: 1px solid hsla(0, 0%, 65.1%, 0.9);
    border-radius: 0;
}
.card {
    border: none !important;
}
@media only screen and (max-width: 600px) {
    .search {
        width: 88%;
        background-color: #fff;
        padding: 4px;
        border-radius: 5px;
        margin: 1em auto;
    }
    .login-page-logo {
        display: block !important;
    }
    a.navbar-brand .login-page-logo h6 {
        margin-left: 0rem !important;
        margin-top: 1rem !important;
    }
    .continue-search-div {
        display: none;
    }
    .search-bg {
        height: 386px;
    }
    .search-1 input {
        border-right: none;
        border-bottom: 1px solid #eee;
    }
    .near-me {
        display: none !important;
    }

    .search-1 button {
        position: absolute;
        top: 14px;
        left: 400px;
        color: #4b4b4b;
    }

    .search-2 i {
        left: 4px;
    }

    .search-2 input {
        padding-left: 34px;
        border-bottom: 1px solid #eee;
    }

    .search-3 button {
        height: 37px;
        top: 5px;
    }
    .search-3 a {
        height: 37px;
        top: 5px;
        padding-left: 34px;
    }
    .search-4 > button {
        margin-top: 10px;
    }
    .cms-map {
        width: 100%;
        background-color: #f3f5f7;
        padding: 4px;
        height: 600px;
        border-radius: 5px;
        margin: 1em 0 0 0;
    }
    .cms-countries {
        font-size: 0.83em;
    }
    .branding-left {
        text-align: center !important;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .join-network-right {
        text-align: center !important;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .branding-text-left {
        font-size: 16px !important;
        display: block;
        text-align: center !important;
        padding-top: 20px;
    }
    .join-network-text-right {
        font-size: 16px !important;
        display: block;
        text-align: center !important;
        padding-top: 20px;
    }
}
.wizard-card{
    min-height: 22.875rem !important;
    border-radius: 2px;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #d6d6d6 !important;
}
.booking-history-card{
    border-radius: 2px;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #d6d6d6 !important;
}
.money-wizard-list-item{
   min-height: 57.8px !important;
   padding: 5px !important;
}
.password-card, .profile-card{
    border-radius: 2px;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #d6d6d6 !important;
    min-height: 28.625rem !important;
}
